* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    /* scroll-behavior: smooth; */
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-hero {
  position: relative;
  height: 100%;
  width: 100%;
}

/* nav bar */
.outer-nav {
  width: 100vw;
  height: 5.6rem;
  background-color: wheat;
}

.nav {
  width: 90%;
  max-width: 75rem;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 30px;
}

.name {
  font-size: 40px;
}

.home a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* hero section */
.hero-outer {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero {
  position: relative;
  /* display: flex; */
  max-width: 75rem;
  min-height: 700px;
  margin: auto;
}
.faded-Paras {
  position: absolute;
  bottom: -10px;
  left: 0rem;
  bottom: 4.1rem;
  user-select: none;
  color: rgb(231, 231, 231);
  font-weight: bold;
  font-size: 100px;
}
.aboutsec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  padding-top: 3.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3.5rem;
}

.hello {
  font-size: 40px;
  color: red;
  font-weight: 600;
}

.intro {
  font-size: 25px;
}

.iam {
  font-weight: 800;
  font-size: 50px;
}
.role {
  color: #4e45d5;
  font-weight: 800;
  font-size: 50px;
}

/* From Uiverse.io by Brian-Pob */
.resume-button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(236, 34, 3);
  color: white;
  transition: all 0.7s ease-in-out;
}

.resume-button:hover {
  color: rgb(236, 34, 3);
  cursor: pointer;
}

.resume-button::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  width: 0;
  height: 100%;
  content: "";
  background-color: white;
  transition: all 700ms ease-in-out;
}

.resume-button:hover::before {
  left: unset;
  right: 0;
  width: 100%;
  transform: rotate(180deg);
}

.hero-right {
  position: relative;
}

.cube-icon {
  position: absolute;
  z-index: 1;
  top: -0.3em;
  right: 1.4em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.zigzag-icon {
  position: absolute;
  z-index: 10;
  top: 3em;
  left: -0.3em;
  animation: zigzakAnimation 5s ease-in infinite;
}

.dot-icon {
  z-index: 9;
  position: absolute;
  bottom: -2rem;
  right: -1rem;
  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes zigzakAnimation {
  50% {
    top: 2%;
    left: 5%;
  }
}

@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.profile-pic {
  height: 400px;
  width: 360px;
  padding: 20px;
  animation-name: glow;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes glow {
  0% {
    transform: scale(1);
    filter: grayscale(1);
  }
  50% {
    transform: scale(0.87);
    box-shadow: 2px 2px 5px gray;
    filter: grayscale(0);
  }
  100% {
    transform: scale(1);
    filter: grayscale(1);
  }
}

/* skill section */
.skills-outer {
  width: 100%;
  min-height: 700px;
  background-color: rgb(231, 231, 231);
  margin-top: -88px;
}

.skills {
  display: flex;
  position: relative;
  max-width: 75rem;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 90%;
  padding-top: 60px;
  /* justify-self: center; */
  margin: auto;
}

.faded-text {
  position: absolute;
  left: 0%;
  top: 600px;
  bottom: 0%;
  user-select: none;
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.skill-left {
  display: flex;
  padding-left: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.skillimg {
  overflow: hidden; /* Ensures the image is clipped to the circle */
  border-radius: 50%; /* Makes the container a circle */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center;

  overflow: hidden;
}

.cimg {
  position: absolute;
  /* display: flex; */
  left: 177px;
  bottom: 127px;
  animation: crotate 15s linear infinite;
}

.cppimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: cpprotate 15s linear infinite;
}

.htmlimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: crotate 15s linear infinite;
}

.htmlimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: htmlrotate 15s linear infinite;
}

.jsimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: jsrotate 15s linear infinite;
}

.cssimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: cssrotate 20s linear infinite;
}

.mongoimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: mongorotate 20s linear infinite;
}

.expressimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: expressrotate 20s linear infinite;
}

.githubimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: gitrotate 20s linear infinite;
}

.nodeimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: noderotate 20s linear infinite;
}

.reactimg {
  position: absolute;
  left: 177px;
  bottom: 127px;
  animation: reactrotate 20s linear infinite;
}

@keyframes crotate {
  0% {
    transform: rotate(0deg) translateX(180px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(180px) translateY(0px) rotate(-360deg);
  }
}
@keyframes htmlrotate {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(180px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(0px) translateY(180px) rotate(-360deg);
  }
}

@keyframes cpprotate {
  0% {
    transform: rotate(0deg) translateX(-180px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-180px) translateY(0px) rotate(-360deg);
  }
}

@keyframes jsrotate {
  0% {
    transform: rotate(0deg) translateX(0px) translateY(-180px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(0px) translateY(-180px) rotate(-360deg);
  }
}

@keyframes cssrotate {
  0% {
    transform: rotate(0deg) translateX(240px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(240px) translateY(0px) rotate(360deg);
  }
}

@keyframes mongorotate {
  0% {
    transform: rotate(0deg) translateX(120px) translateY(207.85px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(120px) translateY(207.85px)
      rotate(360deg);
  }
}

@keyframes expressrotate {
  0% {
    transform: rotate(0deg) translateX(-120px) translateY(207.85px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-120px) translateY(207.85px)
      rotate(360deg);
  }
}

@keyframes gitrotate {
  0% {
    transform: rotate(0deg) translateX(-240px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-240px) translateY(0px) rotate(360deg);
  }
}

@keyframes noderotate {
  0% {
    transform: rotate(0deg) translateX(-120px) translateY(-207.85px)
      rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(-120px) translateY(-207.85px)
      rotate(360deg);
  }
}

@keyframes reactrotate {
  0% {
    transform: rotate(0deg) translateX(120px) translateY(-207.85px) rotate(0deg);
  }
  100% {
    transform: rotate(-360deg) translateX(120px) translateY(-207.85px)
      rotate(360deg);
  }
}

.skill-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}
.skill-top {
  font-size: 40px;
  font-weight: 500;
}

.skill-list {
  display: flex;
  gap: 30px;
}

.skill-elements {
  width: 250px;
  height: 70px;
  display: flex;
  /* border: solid black 0.5px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: black;
  transition: transform 0.5s ease;
}

.skill-elements:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.particular-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 10px;
}

.particular-skill-info {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}

.slider1 {
  height: 10px;
  width: 95%;
  background-color: blue;
  animation: grow1 2s forwards;
}

.slider2 {
  height: 10px;
  width: 95%;
  background-color: orangered;
  animation: grow2 2s forwards;
}

.slider3 {
  height: 10px;
  width: 96%;
  background-color: rgb(16, 135, 181);
  animation: grow2 2s forwards;
}

.slider4 {
  height: 10px;
  width: 99%;
  background-color: rgb(9, 99, 144);
  animation: grow4 2s forwards;
}

.slider5 {
  height: 10px;
  width: 90%;
  background-color: yellow;
  animation: grow5 2s forwards;
}

.slider6 {
  height: 10px;
  width: 2%;
  background-color: green;
  animation: grow6 2s forwards;
}

.slider7 {
  height: 10px;
  width: 2%;
  background-color: cyan;
  animation: grow7 2s forwards;
}

.slider8 {
  height: 10px;
  width: 2%;
  background-color: grey;
  animation: grow8 2s forwards;
}

.slider9 {
  height: 10px;
  width: 80%;
  background-color: black;
  animation: grow9 2s forwards;
}

.slider10 {
  height: 10px;
  width: 20%;
  background-color: green;
  animation: grow10 2s forwards;
}

.slider1,
.slider2,
.slider3,
.slider4,
.slider5,
.slider6,
.slider7,
.slider8,
.slider9,
.slider10 {
  border-radius: 40px / 70px; /* Horizontal and vertical radii */
}

@keyframes grow1 {
  from {
    width: 0;
  }
  to {
    width: 95%; /* Final width of the div */
  }
}

@keyframes grow2 {
  from {
    width: 0;
  }
  to {
    width: 95%; /* Final width of the div */
  }
}

@keyframes grow3 {
  from {
    width: 0;
  }
  to {
    width: 96%; /* Final width of the div */
  }
}

@keyframes grow4 {
  from {
    width: 0;
  }
  to {
    width: 99%; /* Final width of the div */
  }
}

@keyframes grow5 {
  from {
    width: 0;
  }
  to {
    width: 90%; /* Final width of the div */
  }
}

@keyframes grow6 {
  from {
    width: 0;
  }
  to {
    width: 2%; /* Final width of the div */
  }
}

@keyframes grow7 {
  from {
    width: 0;
  }
  to {
    width: 2%; /* Final width of the div */
  }
}

@keyframes grow8 {
  from {
    width: 0;
  }
  to {
    width: 2%; /* Final width of the div */
  }
}

@keyframes grow9 {
  from {
    width: 0;
  }
  to {
    width: 80%; /* Final width of the div */
  }
}

@keyframes grow10 {
  from {
    width: 0;
  }
  to {
    width: 2%; /* Final width of the div */
  }
}

/* project css */
.outer-project {
  width: 100%;
  min-height: 700px;
  background-color: white;
  position: relative;
}

.project {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  align-items: center;
  /* justify-content: space-between; */
  gap: 100px;
  min-height: 700px;
  width: 90%;
  margin: auto;
}

.faded-project {
  position: absolute;
  left: 0%;
  bottom: -20px;
  user-select: none;
  color: rgb(231, 231, 231);
  font-weight: bold;
  font-size: 100px;
}

.myproject-heading{
    font-size: 50px;
    padding-top: 30px ;
    font-weight: 500;


}


.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.project-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 250px;
}



/* From Uiverse.io by andrew-demchenk0 */ 
.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -4px 4px 8px #5a5a5a,
              4px -4px 8px #ffffff;
  display: flex;
  flex-direction: column;
  transition: .4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: blueviolet;
  overflow: hidden;
}

.project-img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  color: var(--font-color);
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}


.about-project{
    max-width: 200px;
}




/* contact css */
.outer-contact{
  width: 100%;
  min-height: 700px;
  background-color: rgb(231, 231, 231);
  
}

.contact{
  position: relative;
  display: flex;
  min-height: 700px;
  max-width: 75rem;
  /* padding-top: 100px; */
  margin: auto;
  
}

.faded-contact{
  position: absolute;
  left: 0%;
  /* top: 600px; */
  bottom: -20px;
  user-select: none;
  color: white;
  font-weight: bold;
  font-size: 100px;
}



.container {
	background-color: white;
  display: flex;
  margin: auto;
	border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 100%;
  max-height: 520px;
  /* height: 80%; */
  /* height: 480px; */
	
	
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:100%;
  background-color:teal;
}
.right-container {
  
  display:flex;
  flex:1;
  /* padding-top: 20px; */
  padding-bottom: 50px;
  height:100%;
  background-color: white;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:100%;
  justify-content:center;
  align-items:center;
    color:white;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.lg-view{
  font-size: 40px;
  font-weight: 500;

}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid teal;
}

/* From Uiverse.io by KINGFRESS */ 
.sumbitbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.sumbitbutton span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: teal;
  border-radius: 50%;
  transition: .6s ease;
}

.sumbitbutton span:nth-child(6) {
  position: relative;
}

.sumbitbutton span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.sumbitbutton span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.sumbitbutton span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.sumbitbutton span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.sumbitbutton span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.sumbitbutton:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
  
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}

/* extra */


